header {
    background-color: #ffffff;
    color: #ffffff;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo img {
    max-height: 50px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

ul li {
    margin-right: 20px;
}

.usuario img {
    max-height: 40px;
    border-radius: 50%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ebebeb;
}
.homeh2{
    text-align: center;
    color: #ff0000;
}

.divh2{
    text-align: center;
    color: #ff0000;
}

.container {
    background-color: rgba(255, 255, 255, 0.90);
    padding: 1px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align:center;
    width: 700px;
    margin: 10px auto;
    height: 35vh;
}
.carrusel {
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px ;
}

.slide {
    display: none;
}

img {
    max-width: 100%;
}

.btn-flecha {
    padding: 10px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 24px;
    margin: 10px;
}

.btn-flecha:focus {
    outline: none;
}