body{
    font-family: Arial, sans-serif;
    background-image: url(login.jpeg);
    background-size: cover; 
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100vh;
}

header {
    background-color: #ffffff;
    color: #ffffff;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo img {
    max-height: 50px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

ul li {
    margin-right: 20px;
}

.usuario img {
    max-height: 40px;
    border-radius: 50%;
}

.contenedor {
    background-color: rgba(255, 255, 255, 0.90);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 275px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

label, input {
    display: block;
    margin: 10px ;
}

button {
    background-color: #ff0000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
