header {
    background-color: #ffffff;
    color: #ffffff;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo img {
    max-height: 50px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

ul li {
    margin-right: 20px;
}

.usuario img {
    max-height: 40px;
    border-radius: 50%;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(perfildis.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.perfil {
    max-width: 500px;
    margin: 100px auto 1rem;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

#datos-usuario {
    text-align: left;
    margin-top: 20px;
}

#datos-usuario h2 {
    color: #ff0000;
}

#datos-usuario p {
    margin: 10px 0;
}

#datos-usuario strong {
    font-weight: bold;
}