body {
    font-family: Arial, sans-serif;
    background-image: url(signup.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    
    
}

.contenedor {
    background-color: rgba(255, 255, 255, 0.90);
    padding: 1px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align:left;
    width: 500px;
    margin: 10px auto;
    height: 111vh;

}

select {
    padding: 5px;
    margin: 5px;
}

label, input {
    display:block;
    margin: 10px;
    
}
.form{
    width: 250px;
}

button {
    background-color: #ff0000;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}


header {
    background-color: #ffffff;
    color: #ffffff;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo img {
    max-height: 50px;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

ul li {
    margin-right: 20px;
}

.usuario img {
    max-height: 40px;
    border-radius: 50%;
}
